extends layout

block maincontent
  h4.text-center.text-white.bg-secondary Recent Alerts and Notifications
  div#card-list
    each notification in notifications
      div.card.px-1.my-1.bg-light
        h5.card-title #{notification.level} - #{notification.calltype}
        h6.card-subtitle #{notification._id}: #{notification.date} #{notification.time}
        p #{notification.address}, #{notification.city}
    div.text-center
      button.btn.btn-primary Load More

block leftcontent
  h4.text-center.text-white.bg-secondary Community
  h5#community.text-center.text-white Employee of the Month
  img.rounded-circle.center-block(src='/images/jim.jpg')
  h5.text-center Congratulations to Jim McGowan! We appreciate your service.
  br
  br
  img.center-block(src='/images/arc.png')

block rightcontent
  h4.text-center.text-white.bg-secondary Flagged Alerts
  div#flag-list
